#main{
    position: fixed;
    top:0;
    right: 0;
    background-image: url('images/landingbg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height:100%;

}
#info-box{
    position: fixed;
    left: 35%;
    top: 30%;
    text-align: justify;
    padding: 10px;
    width: 30%;
}
.hidden{
    visibility: none;
}
#city{
    width: 100%;
}

.btn{
    width: 100%;
}

.info{
    width: 100%;
    padding-top:20px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: medium;
    color: white;
}
.info p{
    margin: 0px;
}