{% extends 'base.html' %}

{% block content %}
    <div class="container" id="info-box">
        <h3>Weather Application</h3>
        <p class="name">City: </p>
        <p class="Current-Temperature">Temperature: </p>
        <p class="Feels-like">Feels Like: </p>
    </div>
    <script>
        $.getJSON("https://api.openweathermap.org/data/2.5/weather?q=mumbai&appid=7de7313c646f15c056b5daaeda647efa",function(data){
            var place = data.name;
            $('.name').append(place);
            console.log(data);
            var temp = data.main.temp;
            var feels_like = data.main.feels_like;
            $('.Current-Temperature').append(temp);
            $('.Feels-like').append(feels_like);
        });
    </script>
{% endblock %}